services:
  langfuse-web:
    build:
      dockerfile: ./frontend/Dockerfile
      context: ./web
      platforms:
        - linux/amd64
      args:
        - NEXT_PUBLIC_LANGFUSE_CLOUD_REGION=${NEXT_PUBLIC_LANGFUSE_CLOUD_REGION:-}
    image: registry.consumerclone.online/huanmu/mas-v0.2/frontend:latest

  langfuse-worker:
    build:
      dockerfile: ./worker/Dockerfile
      context: ./web
      platforms:
        - linux/arm64
        - linux/amd64
      args:
        - NEXT_PUBLIC_LANGFUSE_CLOUD_REGION=${NEXT_PUBLIC_LANGFUSE_CLOUD_REGION:-}
    image: registry.consumerclone.online/huanmu/mas-v0.2/worker:latest