# Environment files
.env
*.env.*

# Logs
logs
*.log*

# IDE
.idea
.cursor
.claude

# Virtual environment
.venv

# Documentation
*.md
scripts/setup.*

# Tests
test/
tests/

# Python cache
__pycache__/
build/
dist/

# Git
.git
.gitignore

# Misc
.DS_Store
*.swp
*.swo